body {
    max-width: 1320px;
    
}
/*header start*/
.header {
    font-family: 'Merriweather';
    text-align: center;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Banner\ Image.png');
    background-repeat: no-repeat;
    padding: 120px 0;
    border-radius: 16px;
    margin-left: 140px;
}
.titel1 {
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
}
.titel2{
    color: #FFF;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}
/*header end*/
/*section one start*/
main {
    margin-left: 140px;
}
.happyNewYear {
    font-family: 'Inter', sans-serif;
    text-align: center;
}
.sectionOneTitieOne {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    line-height: 40px;
}
.sectionOneTitieTwo {
    color: #F00;
    font-size: 24px;
    font-weight: 600;
}
.sectionOneTitieThree{
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    line-height: 10px;
}
.sectionOneImg {
    width: 800px;
    height: 500px;
    transition: .7s;
}
.sectionOneImg:hover{
    transform: scale(1.3);
    margin: 50px 0;
}
/*section one end*/
/*section two start*/
.welcomeSection {
    display: flex;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    padding: 58px 0;
    justify-content: space-between;
    margin-top: 80px;
}
.welcomeDiv {
    text-align: left;
    max-width: 700px;
    margin-left: 120px;
}
.welcomeTitle {
    color: #FFF;

    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7px;
}
.welcomePera {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.welcomeButton {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    border: none;
    background: none;
    text-decoration: none;
    margin: 30px;

}
.welcomeImg {
    
}  
.welcome2024 {
    height: 400px;
    width: 300px;
    margin-right: 130px;
    margin-top: 80px;
}
/*section two end*/
/*section three start*/
.section-three {
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    text-align: center;
    padding: 150px 0;
    margin-top: 80px;
}
.black-word {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    line-height: 15px;
}
.red-word {
    color: #F00;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    line-height: 15px;
}
.red-button {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    background-color: #FF0000;
    border: none;
    padding: 16px 30px;
    border-radius: 7px;
}
/*section three end*/
/*section four start*/
.offer-section {
    display: flex;
    text-align: left;
    padding: 100px 0;
}
.offer-col1 {
    width: 440px;
    margin-right: 50px;
}
.offer-title {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.offer-subtitle {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}
.offer-pera {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
.offer-col2 {
    width: 440px;
}
.offer-img {
    padding: 20px;
    border: 10px solid #F00;
    border-radius: 50%;
}
.offer-col3 {
    width: 440px;
    margin-left: 80px;
}
.offer-title2 {
    color: #F00;

    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.offer-pera2 {
    color: rgba(7, 2, 17, 0.60);

    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}
.offer-img2 {
    width: 140px;
    height: 140px;
}
/*section four end*/
/*section five start*/

.sale-text {
    text-align: center;
}
    
    
.sale-title1 {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.sale-title2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 15px;
}
.sale-red {
    color: #F00;
}
.sale-pera {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    margin: 0 200px 0 200px;
}

.flex-img {
    display: flex;
}
.gift-box {
    width: 500px;
    height: 500px;
    position: relative;
    bottom: -170px;
    left: 80px;
}
.gift-box img {
    height: 500px;
    width: 500px;
}
.red-bottom  img{
    width: 1320px;
    height: 230px;
    position: relative;
    bottom: 0px;
}
.off {
    position: relative;
    bottom: -200px;
    right: -251px;
    z-index: 1;
    width: 400px;
}
.off img{
    width: 300px;
}
.girl {
    position: relative;
    bottom: -96px;
    left: 90px;
    width: 350px;
}
.girl img{
    width: 400px;
}


/*section five end*/

/*section six portfolio start*/
.portfolio {
    border-bottom: 70px solid white;
}
.portfolio-text {
    text-align: left;
}
.portfolio-title1 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.portfolio-title2 {
    color: #070211;
    font-family:Merriweather;
    font-size: 48px;
    font-weight: 900;
}
.portfolio-pera {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-right: 500px;
    margin-bottom: 50px;
}
.hov {
    transition: .5s;
}
.hov:hover{
    transform: scale(1.1);
    padding: 5px;
}    
.portfolio-img {
    display: flex;
}
.img-col{
    width: 435px;
    margin-right: 20px;
}
.img-col3{
    width: 435px;
}
.img-mar {
    margin: 20px 0;
}
/*section six portfolio end*/

/*section seven newsletter start*/
.news-letter {
    text-align: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    padding: 80px 0;
    border-bottom: 80px solid white;
    margin-left: 100px;
}
.news-letter-title {
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
}
.news-letter-pera {
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px;
margin: 0 250px 30px 250px;
}
.emailad {
    width: 648px;
height: 72px;
border: none;
border-radius: 35px 0 0 35px;
background: #ffffff;
outline: 0;
color: rgba(7, 2, 17, 0.30);
transition: .5s;
font-family: Inter;
font-size: 18px;
padding-left: 20px;

}
.emailad:hover {
    transform: scale(1.1);
}
.sub{
    width: 210px;
height: 72px;
border: none;
border-radius: 0 35px 35px 0;
background: #F00;
outline: 0;
color: #FFF;
font-family: Inter;
font-size: 20px;
font-weight: 600;
transition: .5s;
}
.sub:hover {
    transform: scale(1.1);
}
/*section seven newsletter end*/
/*footer start*/
footer{
    background: #070211;
    width: 1600px;
height: 609px;
}
.contact {
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
    padding: 40px 0;
}
.address {
    color: #FFF;

font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 40px;
}
.number {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;

}
.phone {
    display: flex;
}
.phone img {
    height: 24px;
    width: 24px;
    position: relative;
    top: 30px;
    right: 10px;
}
.web {
    display: flex;
}
.web  img{
    height: 24px;
    width: 24px;
    position: relative;
    top: 34px;
    right: 10px;
}
hr {
    width: 1320px;
    border: 1px solid rgba(255, 255, 255, 0.15);;
}
.social-icon {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 60px 0;
}
.rights {
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
}
.social-icon img {
    transition: .5s;
}
.social-icon img:hover {
    transform: scale(1.2);
}
/*footer end*/